// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    color: white;
    text-align: center;
    background-image: linear-gradient(to left, green,#fde8ec);
 }
 h3,h5, p{
   color:blanchedalmond;
 }
 h5{
  text-align: justify;
  text-justify: inter-word;
  text-decoration: none; color:white;
 }
 a{
    text-decoration: none; color:white;
 }
 .nav-link{
    background-color: #4c9922;
    border-radius: 25px;
    font-size: 18px;    
  }
  body{
    background-image: linear-gradient(to left, green,#fde8ec);
  }